@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-container {
    @apply px-2 pt-[6.2rem] w-[80%] lg:w-[1000px] lg:px-8 flex flex-col min-h-[100vh] justify-between;
  }

  .clickable {
    @apply cursor-pointer transition-all select-none hover:scale-105 active:brightness-105;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Chrome, Safari and Opera */
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Chrome, Safari and Opera */
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ececec;
  }

  /* Chrome, Safari and Opera */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 100vh;
  }

  /* Chrome, Safari and Opera */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #929292;
  }
}

html {
  @apply bg-white scroll-smooth min-h-full;
}

body {
  @apply relative flex flex-col justify-center min-w-full items-center text-black overflow-x-hidden;
}

section {
  @apply my-8;
}

h1 {
  @apply font-bold text-5xl text-black lg:leading-[3.5rem];
}

h2 {
  @apply font-semibold text-4xl text-black;
}

h3 {
  @apply font-semibold text-2xl text-black;
}

h4 {
  @apply font-semibold text-xl;
}

p {
  @apply font-normal text-base leading-7;
}

li {
  @apply mx-2 my-1.5;
}
